.container {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.title {
  font-size: 18px;
}

.table {
  width: 575px;
  height: auto;
  margin-top: 5px;
  border: 2px solid #0EFBFB;
  border-radius: 3px;
  border-spacing: 0px;
  color: #FFFFFF;
}

.header {
  background-color: #783BB5;
  font-weight: bold;
}

.headerRow {}

.headerCell {
  padding-left: 5px;
  text-align: left;
}

.body {}
