/*
  Purple: #783BB5
  Blue: #0EFBFB
*/

body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #000000 !important;
}
#app {
  min-height: 800px;
  background-color: #FFFFFF;
}

/* Footer */
#Footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-top: 5px solid #783BB5;
  background-color: #000000;
}
#Footer-navigation-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
}
.Footer-navigation-li {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}
.Footer-navigation-li a {
  text-decoration: none;
  color: #FFFFFF;
}
#Footer-social-media-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
}
.Footer-social-media-li {
  margin: 0px 10px 0px 10px;
}
.Footer-social-media-li img {
  width: 35px;
  height: 35px;
}
.Footer-social-media-li img:hover {
  transform: scale(1.1);
}
#Footer-copyright {
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #FFFFFF;
}
