/*
  Purple: #783BB5
  Blue: #0EFBFB
*/

body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #000000 !important;
}
#app {
  min-height: 800px;
  background-color: #FFFFFF;
}

/* NavigationBar */
#NavigationBar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  z-index: 2;
}
#NavigationBar-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 0px 0px 0px 30px;
}
#NavigationBar-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding: 0px 30px 0px 0px;
}
#NavigationBar-left-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
#NavigationBar-left-logo:hover {
  border-bottom: 3px solid #0EFBFB;
}
#NavigationBar-left-logo img {
  height: 35px;
  width: auto;
}
.NavigationBar-right-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.NavigationBar-right-item:hover {
  border-bottom: 3px solid #0EFBFB;
  color: #FFFFFF;
}
.NavigationBar-active {
  border-bottom: 3px solid #0EFBFB !important;
}
#NavigationBar-spacer {
  width: 100%;
  height: 50px;
}
#NavigationBar-dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavigationBar-dropdown-container,
.NavigationBar-dropdown-container-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 50px;
  right: 0px;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  width: 50%;
  height: 30px;
  margin: 0;
  padding: 0;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  background-color: #000000;
  cursor: pointer;
  z-index: 1;
}
.NavigationBar-dropdown-container-hidden {
  top: 0px;
}
.NavigationBar-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}
.NavigationBar-dropdown-item:hover {
  color: #783BB5;
}
.NavigationBar-dropdown-active {
  color: #FFFFFF;
  background-color: #783BB5;
  cursor: pointer;
}
.NavigationBar-dropdown-active:hover {
  color: #FFFFFF;
}

/* StandingsContainer */
#StandingsContainer-container {
  padding: 20px
}
#StandingsContainer-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#StandingsContainer-loading-gears {
  width: 60px;
  height: 60px
}
#StandingsContainer-loading-text {
  font-weight: bold;
  color: #000000;
}

/* StatsContainer */
#StatsContainer-container {
  width: 100%;
  min-height: 800px;
  padding: 20px;
  color: #FFFFFF;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23783bb5' fill-opacity='0.16'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
#StatsContainer-table {
  width: 1200px;
  height: auto;
  border: 2px solid #783BB5;
  border-radius: 3px;
  border-spacing: 0px;
  text-align: left;
}
#StatsContainer-table-body {
  width: 100%;
}
#StatsContainer-table-header {
  width: 100%;
  height: 30px;
  color: #FFFFFF;
  background-color: #783BB5;
}
.StatsContainer-table-row {
  width: 100%;
  height: 25px;
}
.StatsContainer-table-row:nth-child(even) {
  background-color: #353637;
}
.StatsContainer-table-row:nth-child(odd) {
  background-color: #1A1B1D;
}
#StatsContainer-league-logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}
#StatsContainer-single-stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin-bottom: 20px;
}
#StatsContainer-SingleStatTable {
  display: flex;
  align-items: center;
  width: 275px;
  text-align: left;
  border-collapse: collapse;
  border: 2px solid #783BB5;
  border-radius: 3px;
  overflow: hidden;
}
#StatsContainer-SingleStatTable-body-container {
  border: 2px solid #0EFBFB;
  border-radius: 10px;
  overflow: hidden;
}
#StatsContainer-SingleStatTable-body {
  width: 300px;
  height: auto;
}
#StatsContainer-SingleStatTable-header {
  width: 100%;
  height: 30px;
  border-spacing: 0px;
  border-collapse: collapse;
  color: #FFFFFF;
  background-color: #783BB5;
}
#StatsContainer-SingleStatTable-name-column {
  width: 150px;
  padding-left: 5px;
}
#StatsContainer-SingleStatTable-name-cell {
  text-align: left;
  padding-left: 5px;
}
#StatsContainer-SingleStatTable-team-column {
  width: 75px;
}
#StatsContainer-SingleStatTable-team-cell {
  text-align: left;
}
#StatsContainer-SingleStatTable-value-column {
  width: 75px;
}
#StatsContainer-SingleStatTable-value-cell {
  text-align: right;
  padding-right: 5px;
}
.StatsContainer-SingleStatTable-row {
  width: 100%;
  height: 25px;
}
.StatsContainer-SingleStatTable-row:nth-child(even) {
  background-color: #353637;
}
.StatsContainer-SingleStatTable-row:nth-child(odd) {
  background-color: #1A1B1D;
}
#StatsContainer-table-name-column {
  padding-left: 5px;
}
#StatsContainer-table-name-cell {
  padding-left: 5px;
}

/* Footer */
#Footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-top: 5px solid #783BB5;
  background-color: #000000;
}
#Footer-navigation-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
}
.Footer-navigation-li {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}
.Footer-navigation-li a {
  text-decoration: none;
  color: #FFFFFF;
}
#Footer-social-media-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
}
.Footer-social-media-li {
  margin: 0px 10px 0px 10px;
}
.Footer-social-media-li img {
  width: 35px;
  height: 35px;
}
.Footer-social-media-li img:hover {
  transform: scale(1.1);
}
#Footer-copyright {
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #FFFFFF;
}
