/*
  Purple: #783BB5
  Blue: #0EFBFB
*/

body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #000000 !important;
}
#app {
  min-height: 800px;
  background-color: #FFFFFF;
}

/* NavigationBar */
#NavigationBar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  z-index: 2;
}
#NavigationBar-container-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 0px 0px 0px 30px;
}
#NavigationBar-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding: 0px 30px 0px 0px;
}
#NavigationBar-left-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
#NavigationBar-left-logo:hover {
  border-bottom: 3px solid #0EFBFB;
}
#NavigationBar-left-logo img {
  height: 35px;
  width: auto;
}
.NavigationBar-right-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.NavigationBar-right-item:hover {
  border-bottom: 3px solid #0EFBFB;
  color: #FFFFFF;
}
.NavigationBar-active {
  border-bottom: 3px solid #0EFBFB !important;
}
#NavigationBar-spacer {
  width: 100%;
  height: 50px;
}
#NavigationBar-dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavigationBar-dropdown-container,
.NavigationBar-dropdown-container-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 50px;
  right: 0px;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  width: 50%;
  height: 30px;
  margin: 0;
  padding: 0;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  background-color: #000000;
  cursor: pointer;
  z-index: 1;
}
.NavigationBar-dropdown-container-hidden {
  top: 0px;
}
.NavigationBar-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 100%;
  font-weight: bold;
  color: #000000;
  background-color: #FFFFFF;
  cursor: pointer;
}
.NavigationBar-dropdown-item:hover {
  color: #783BB5;
}
.NavigationBar-dropdown-active {
  color: #FFFFFF;
  background-color: #783BB5;
  cursor: pointer;
}
.NavigationBar-dropdown-active:hover {
  color: #FFFFFF;
}
/* Footer */
#Footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  border-top: 5px solid #783BB5;
  background-color: #000000;
}
#Footer-navigation-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
}
.Footer-navigation-li {
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}
.Footer-navigation-li a {
  text-decoration: none;
  color: #FFFFFF;
}
#Footer-social-media-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0;
  list-style: none;
}
.Footer-social-media-li {
  margin: 0px 10px 0px 10px;
}
.Footer-social-media-li img {
  width: 35px;
  height: 35px;
}
.Footer-social-media-li img:hover {
  transform: scale(1.1);
}
#Footer-copyright {
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #FFFFFF;
}
